---
import Blocks from "@components/blocks";
import type { MarkdownLayoutProps } from "astro";
import Layout, { SEOProps } from "./Layout.astro";

type Props =
  | {
      title: string;
      content_blocks: Array<Record<string, any>>;
      seo?: SEOProps;
    }
  | MarkdownLayoutProps<{
      title: string;
      content_blocks: Array<Record<string, any>>;
      seo?: SEOProps;
    }>;

const props = Astro.props.frontmatter ?? Astro.props;
const liveRender = import.meta.env.PUBLIC_LIVE_RENDER === "true";
---

<Layout {...props}>
  <script type="text/javascript" src="https://secure.fundraisingbox.com/app/paymentJS?hash=m41rb5qwjd4ofqhg"></script><noscript>Bitte Javascript aktivieren</noscript><a target="_blank" href="https://www.fundraisingbox.com"><img border="0" style="border: 0 !important" src="https://secure.fundraisingbox.com/images/FundraisingBox-Logo-Widget.png" alt="FundraisingBox Logo" /></a>
  <main>
    {
      liveRender ? (
        <Blocks
          contentBlocks={props.content_blocks}
          client:load
          dataBinding="#content_blocks"
        />
      ) : (
        <Blocks contentBlocks={props.content_blocks} dataBinding={null} />
      )
    }
  </main>
</Layout>
